<%- include('header') -%>

<body>
    <!-- NAVIGATION BAR, LAHAT NG LINKS -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/route/dashboard"><span class="text-secondary">NANCY's</span> HUB</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/reservation">Reservation</a>
					</li>
          <li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <section class="about welcome-bg section-padding" id="about">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header pb-2">
                    <h4>Nandy Hub Laundry Dashboard</h4>
                    <h6><%= locals.user ? user : "User" %></h6>
                </div>
            </div>
        </div>
    </section>

    <!-- Dito na yung charts mga beh, inaayos ko pa, and kulang pa, at di na nagana utak ko-->
    <section class="pb-5">
      <div class="container">
        <div class="pt-4">
          <h4><strong>Analytics</strong></h4>

          <!-- customers info dito -->
          <div>
            <div class="text-center">
              <h6><strong>Customer's Information</strong></h6>
            </div>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="300" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a8fef7-1ed0-4f88-8986-c7b07e3ccc20&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="300" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a921c6-c709-4c53-8a25-73a5bdc05e16&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="300" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a926a4-2925-4d55-8425-15cc0a3f0cae&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
          </div>
          <!-- charts -->
          <div>
            <div class="pt-5 text-center">
              <h6><strong>Sales</strong></h6>
            </div>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a928b2-c709-40d4-81d6-73a5bdc30ec1&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a92bd6-2925-41f5-850e-15cc0a40b070&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a9311a-c709-4f6f-87ca-73a5bdc5b3d7&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <div class="pt-5 text-center">
              <h6><strong>Products, Services, Delivery, Size</strong></h6>
            </div>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a8fdd8-c709-4893-8ad4-73a5bdb3b52d&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a90814-2925-4152-82f8-15cc0a342f42&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a906e0-d6bb-41c0-8d4b-b2471dfb01fd&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a91b3c-1ed0-4543-8472-c7b07e4648f5&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="360" height="400" src="https://charts.mongodb.com/charts-project-0-elhtm/embed/charts?id=64a91aa6-1ed0-463d-8c88-c7b07e460b9c&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
    </section>
</body>

<%- include('footer') -%>
