<%- include('header') -%>

<body>
    <!-- NAVIGATION BAR, LAHAT NG LINKS -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="home.html"><span class="text-secondary">NANCY's</span> HUB</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="reservation-form.html">Reservation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://maps.app.goo.gl/gZUHKY4czbAoKzpv5" target="_blank">Location</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <!-- welcome section starts -->
	<section class="about welcome-bg section-padding" id="about">
		<div class="container">
			<div class="row pt-5">
				<div class="col-lg-12 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div>
						<h1>Welcome to Nancy's Laundry Hub!</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

    <!-- services section Starts -->
	<section class="services section-padding" id="services">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Our Services</h2>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<a class="text-white text-center btn btn-dark">
						<div class="card-body">
							<i class="bi bi-droplet"></i>
                            <h3 class="card-title">Normal Wash</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
                        </div>
					</a>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<a class="text-white text-center btn btn-dark">
						<div class="card-body">
							<i class="bi bi-battery-charging"></i>
							<h3 class="card-title">Power Wash</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<a class="text-white text-center btn btn-dark">
						<div class="card-body">
							<i class="bi bi-bezier"></i>
							<h3 class="card-title">Dry</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-12 col-lg-4 pt-4">
					<a class="text-white text-center btn btn-dark">
						<div class="card-body">
							<i class="bi bi-box"></i>
							<h3 class="card-title">Fold</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-12 col-lg-4 pt-4">
					<a class="text-white text-center btn btn-dark">
						<div class="card-body">
							<i class="bi bi-box-seam"></i>
							<h3 class="card-title">Wash and Fold</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
						</div>
					</a>
				</div>
                <div class="col-12 col-md-12 col-lg-4 pt-4">
					<a class="text-white text-center btn btn-dark">
						<div class="card-body">
							<i class="bi bi-calendar2-check"></i>
							<h3 class="card-title">Reservation</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

    <!-- footer starts -->
	<footer class="bg-dark p-2 text-center">
		<div class="container">
			<p class="text-white">All Right Reserved By @Group6 IPM 2022-2023</p>
		</div>
	</footer>
    </body>